@import url('https://fonts.googleapis.com/css?family=Erica+One|Chathura:700|Gafata');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #2c3e50;
  font-family: "Gafata";
  font-size: 102%;
  color: #FAFAFA;
}
h1 {
  text-align: center;
  margin-top: 75px;
}
.frame {
  width: 100%;
  height: 100vh;
}
.box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.logo {
  display: block;
  font-family: "Erica One";
  line-height: 1;
  font-size: 480%;
  letter-spacing: 2px;
  font-style: italic;
  color: #FFD429;
  background-color: #2980b9;
  padding: 0px 0px 0px 12px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #111;
  width: 100px;
  transform: scale(2,2);
}
.logo em {
  font-size: 120%;
  font-family: "Chathura";
  line-height: .75;
  margin-left: -40px;
  text-shadow: 0px 0px 5px #010516, 0px 0px 5px #010516;
}
.logo em sup {
  top: -20px;
  margin-right: 15px;
}