/*********************************
Author : Techhysahil / Modified: Cory Barker;
Link : http://techhysahil.com
*********************************/
.select2-selection--single {
    border-bottom: 1px solid #2980b9 !important;
    border-right: 1px solid #2980b9 !important;
}
.select2-container--default.select2-container--focus span.select2-selection--single,
.select2-container--default.select2-container--open span.select2-selection--single {
    border-color: #FFD429 !important;
    box-shadow: 1px 1px 0px #FFD429;
}
.select2-selection
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #FFD429 !important;
    color: #111;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: #FAFAFA;
    color: #111;
    opacity: 0.8;
}
.select2-container *:focus{
    outline:0px;
}
.select2-container--default .select2-selection--single{
    border-radius:0px;
}
.select2-search{
    margin-top: 3px;
}
.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-results .select2-highlighted {
    background: #FFD429;
    color: #111;
    border-radius: 0px;
}
.select2-results{
    padding: 0 0 0 0px;
    margin: 4px 0px 0px 0;
}
.select2-container .select2-choice .select2-arrow{
    border: 0px;
    border-radius: 0px;
    background: transparent;
    background-image: none;
}
.select2-container--default .select2-selection--single{
    background: #FAFAFA;
    border: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    color: #111;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #111;
    line-height:34px;
}
.select2-container .select2-selection--single{
    height:36px;
    width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: #111 transparent transparent transparent;
    top: 60%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #111 transparent;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above{
    background: #FAFAFA;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #FAFAFA;
    color: #111;
    border: 1px solid #FAFAFA;
    border-radius: 0px;
    padding: 3px 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #FFD429;
    margin-right: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    margin-left: 6px;
    float: right;
}
.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #FAFAFA;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #ccc;
}