/*
Theme Name: P3pros

Potential fonts: https://fonts.google.com/selection?selection.family=Bigelow+Rules|Chathura:700|Cormorant+Unicase|El+Messiri|Gafata|IM+Fell+DW+Pica+SC|Montaga|NTR|Pavanam|Pompiere|Ruluko|Tenali+Ramakrishna|Voces
*/
@import url('normalize.css');
@import url('flatselect2.css');

@import url('https://fonts.googleapis.com/css?family=Erica+One|Chathura:700|Gafata');

/* Generals */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header:before, .header:after, .reqform:before, .reqform:after, .clear:before, .clear:after, .serving:after, .serving:before, .points:before, .points:after {
  display: table;
  content: '';
}
.header:after, .reqform:after, .clear:after, .serving:after, .points:after {
  clear:both;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.common-float-33 {
  position: relative;
  padding: 0px 15px;
  margin-bottom: 30px;
  float: left;
  width: 33.33333%;
}
.abox {
  display: block;
  float: left;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #999;
  font-family: "Chathura";
  font-size: 180%;
  text-align: center;
  line-height: .7;
  text-transform: uppercase;
}
.abox em {
  font-size: 75%;
  font-style: normal;
  color: #333;
}
.abox.medium {
  float: none;
  width: 300px;
  font-size: 225%;
  border-width: 2px;
}
/* Styling */
body {
  background-color: #2c3e50;
  font-family: "Gafata";
  font-size: 102%;
}
.header-image {
  position: fixed;
  top: -1vmax;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url('//imagizer.imageshack.us/v2/806x592q90/922/kvFXaR.jpg') no-repeat center center;
  background-size: cover;
}
.header {
  background-color: transparent;
  border-top: 10px solid rgba(41, 128, 185, .7);
}
.header-logo {
  display: inline-block;
  float: left;
  font-family: "Erica One";
  line-height: 1;
  font-size: 480%;
  letter-spacing: 2px;
  font-style: italic;
  color: #FFD429;
  background-color: #2980b9;
  padding: 0px 0px 0px 12px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #111;
}
.header-logo em {
  font-size: 120%;
  font-family: "Chathura";
  line-height: .75;
  margin-left: -40px;
  text-shadow: 0px 0px 5px #010516, 0px 0px 5px #010516;
}
.header-logo em sup {
  top: -20px;
  margin-right: 15px;
}
.nav {
  position: relative;
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.nav li {
  display: inline-block;
  font-family: "Chathura";
  line-height: 1;
  font-size: 202%;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav .link {
  padding: 0 15px;
  text-decoration: none;
  color: #FAFAFA;
}
.nav .link.active {
  background-color: #2980b9;
}
.nav .link:not(.active):hover {
  background-color: #FFD429;
  color: #111;
}
.welcome-wrapper {
  border-bottom: 10px solid rgba(255,212,41,0.7);
  height: 100%;
}
.welcome {
  position: relative;
  top: -50px;
  z-index: 1;
  margin: 0 auto;
  max-width: 1200px;
  height: 50vh;
  min-height: 425px;
  font-weight: bold;
}
.welcome span::before {
  content: '“';
  font-family: "Times New Roman";
  margin-right: -15px;
  font-size: 180%;
  line-height: .3;
  color: #2980b9;
}
.welcome span::after {
  content: '”';
  margin-left: -15px;
  font-family: "Times New Roman";
  font-size: 180%;
  line-height: .3;
  color: #2980b9;
}
.welcome span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  text-align: right;
  padding: 10px 70px 10px 0px;
  color: #ccc;
  font-size: 430%;
  text-shadow: 3px 3px #000;
  line-height: 1.7;
  font-style: italic;
}
.welcome em {
  color: #FFD429;
  font-size: 120%;
}
.space {
  height: 100%;
  background-color: #F4F4F4;
  border-top: 5px solid #FFD429;
}
.space h2 {
  position: relative;
  z-index: 2;
  margin: 50px 0 0px 0;
  padding: 25px;
  text-align: center;
  font-size: 250%;
  font-weight: normal;
}
.space h2:after {
  display: block;
  content: '';
  padding-top: 10px;
  width: 105px;
  margin: 0px auto 25px auto;
  border-bottom: 5px dashed #FFD429;
}
.logo {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #FFD429;
  text-shadow: -0.5px -0.5px 1px #000, 0.5px 0.5px 1px #000;
}
.logo:before {
  display: inline-block;
  font-family: "Erica One";
  content: '//';
  letter-spacing: 1px;
  margin-right: -12px;
  margin-left: -8px;
  text-shadow: none;
}
.logo.footer {
  color: #888;
}
.request {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 15px auto;
  box-shadow: 0 0 15px #CCC;
  padding: 40px 30px 0px;
  padding-bottom: 0;
  background-color: #FAFAFA;
}
.rtab {
  font-size: 300%;
  letter-spacing: 2px;
  font-family: "Chathura";
  line-height: 0.7;
  position: absolute;
  top: -54px;
  left: 0px;
  background-color: #FFD429;
  padding: 10px 25px 10px 25px;
}
.reqform {
  display: block;
  position: relative;
  font-family: "Gafata";
  margin: 0px -15px;
}
.reqform input,
.reqform select,
.reqform textarea {
  padding: 6px;
  width:100%;
  background-color: transparent;
  border: 1px solid #2980b9;
  border-top: 0;
  border-left: 0;
  height: 100%;
}
.reqform input:focus,
.reqform select:focus,
.reqform textarea:focus {
  border-color: #FFD429;
  box-shadow: 1px 1px 0 #FFD429;
  outline: none;
}
.reqform .common-float-33 {
  height: 36px;
}
.reqform textarea[name='comments'] {
  resize: none;
}
.reqform .common-float-33 label {
  position: absolute;
  top: -10px;
  left: 0px;
  padding-left: 20px;
  text-indent: 100%;
  font-family: "Chathura";
  font-size: 125%;
  text-transform: uppercase;
  color: #f4f4f4;
  word-wrap: break-word;
  letter-spacing: 100px;
  overflow: hidden;
  visibility: hidden;
  height: 20px;
  transition: all .5s ease-out;
  width: 100%;
}
.form-error:before {
  display: block;
  position: absolute;
  font-family: FontAwesome;
  content: '\f0de';
  color: #c0392b;
  font-size: 180%;
  text-indent: 10px;
  left: 0;
  top: -10px;
}
.form-error {
  display: none;
  position: absolute;
  background-color: #c0392b;
  color: #FAFAFA;
  font-size: 84%;
  padding: 10px;
  letter-spacing: 1px;
}
.common-float-33.field-active label {
  text-indent: 0;
  letter-spacing: 0;
  visibility: visible;
  color: #aaa;
}
.reqform .vehicle-info {
  width: 66.66666%;
}
.reqform .commentbox {
  width: 66.66666%;
  height: 102px;
  font-size: 88%;
}
.reqform .commentbox .comments-description {
  position: absolute;
  top: 0px;
  left: 25px;
}
.reqform input {
  min-width: 200px;
}
.reqform .vehicle-info .make {
  width: 25%;
}
.reqform .vehicle-info .model {
  width: 55%;
}
.reqform .vehicle-info .year {
  width: 20%;
}
.reqform input[name='submit'] {
  background-color: #2980b9;
  padding: 8px;
  border: 1px solid #ccc;
  color: #FAFAFA;
  letter-spacing: -1px;
}
.description {
  font-size: 115%;
  width: 75%;
  margin: 0 auto;
  text-indent: 50px;
  line-height: 1.7;
  letter-spacing: 1px;
  margin-bottom: 75px;
  text-align: justify;
  max-width: 1200px;
}
.abox.medium.sample-report {
  margin: 50px auto;
}
.services:before,
.process:before {
  background-image: url('https://i.imgsafe.org/6771d02c4b.jpg');
  background-size: 100%;
  background-position: 0 40%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .05;

}
.services {
  position: relative;
  background-color: #FFD429;
  padding: 20px;
}
.services .common-float-33 {
  margin: 0;
  padding-right: 0;
}
.service-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-right: 3px solid #2980b9;
  width: 200px;
  text-align: right;
  color: #FAFAFA;
  font-size: 250%;
  padding: 15px 15px 15px 0;
  letter-spacing: 4px;
  line-height: 1
}
.service-list {
  position: relative;
  padding-left: 200px;
  width: auto;
}
.service-list .abox {
  position: relative;
  z-index: 2;
  margin: 0;
  font-family: "Gafata";
  font-size: 150%;
  letter-spacing: 3px;
  line-height: 1.5;
  padding: 18px 75px 18px 20px;
  color: #FAFAFA;
  background-color: #111;
  text-decoration: none;
  width: 100%;
}
.service-list .abox:hover {
  background-color: #FFF;
}
.service-list .abox:before {
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-position: 0 50%;
  background-size: 100%;
  color: #FAFAFA;
  opacity: .6;
}
@media screen and (max-width:1199px) {
  .service-list .common-float-33:first-of-type {
    width: 100%;
    margin-bottom: 10px;
  }
  .abox.service-inspection:after {
    padding: 0 5px 0 15px !important;
    margin: 10px 10px !important;
  }
  .service-list .common-float-33:nth-of-type(2),
  .service-list .common-float-33:nth-of-type(3) {
    width: 50%;
  }
  .serving {
    position: relative;
    height: 900px;
  }
  .serving-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    background-color: #FAFAFA;
    float: none !important;
    opacity: .2;
    height: 900px;
  }
  .area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    float: none !important;
    height: 900px;
    background-color: transparent !important;
  }
}
.abox.service-inspection:before {
  background-image: url('https://i.imgsafe.org/75c43effd3.jpg');
}
.abox.service-transport:before {
  background-image: url('https://i.imgsafe.org/75c43576fd.jpg');
}
.abox.service-pre-sale:before {
  background-image: url('https://i.imgsafe.org/76204a5f20.jpg');
}
.abox.service-pre-sale {
  padding-right: 100px;
}
.service-list .abox:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px 10px;
  padding: 5px 5px 5px 15px;
  font-family: FontAwesome;
  font-size: 175%;
  border-left: 2px solid #2980b9;
  line-height: 1.2;
}
.service-inspection:after {
  content: '\f002';
}
.service-pre-sale:after {
  content: '\f24e';
}
.service-transport:after {
  content: '\f0d1';
}
.serving {
  background-color: #FAFAFA;
}
.serving-image {
  float: left;
  width: 40%;
  background-image: url('https://i.imgsafe.org/a5c5e1e912.jpg');
  background-position: center center;
  background-size: cover;
  height: 900px;
}
.area {
  background-image: url('https://i.imgsafe.org/aaddbbe945.png');
  background-repeat: no-repeat;
  background-position: 45% 85%;
  background-size: auto 700px;
  background-color: #FAFAFA;
  width: 60%;
  min-width: 450px;
  float: left;
  height: 900px;
}
.area h3 {
  font-size: 200%;
  text-align: center;
  font-weight: normal;
  margin: 50px 0;
}
.area ul {
  list-style: none;
  width: 80%;
  margin: 0 auto 350px auto;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}
.area li.abox {
  width: 40%;
  border-color: #FFD429;
  float: none;
  margin: 10px auto;
  font-size: 200%;
  margin-right: 10%;
  background-color: #FAFAFA;
}
.legend {
  display: block;
  width: 450px;
  text-align: left;
  margin: 0 auto;
  padding: 5px 5px 5px 35px;
  letter-spacing: -1px;
}
.legend:before {
  display: block;
  float: left;
  content: '';
  width: 30px;
  height: 1.1em;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.covered:before {
  background-color: #FFD429;
}
.inquire:before {
  background-color: #2980b9;
}
.asterisk:before {
  content: '*';
  text-align: right;
  border: 0;
  font-size: 150%;
}
.process {
  position: relative;
  background-color: #2980b9;
  padding: 40px 0 40px 0;
  text-align: center;
  color: #FAFAFA;
}
.process-icon {
  font-family: FontAwesome;
  display: block;
  position: relative;
  font-size: 425%;
}
.process-title {
  margin: 0;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 350%;
  line-height: .7;
  font-weight: normal;
  font-family: "Chathura";
}
.process-icon.arrow {
  font-size: 475%;
  color: #FFD429;
  width: auto;
}
.process-icon-container {
  float: left;
  height: 250px;
  padding: 40px 20px;
  width: 18%;
  min-width: 150px;
}
.process-icon-container:nth-of-type(even) {
  width: 9.33333%;
  min-width: 78px;
}
.process-description {
  display: block;
  width: 130px;
  padding: 15px 0;
  color: #FAFAFA;
  border-bottom: 5px solid #FFD429;
  font-size: 150%;
  margin: 0 auto;
}
.process-icon.confirm-details sup {
  text-shadow: 2px 2px 0 #2980b9;
  font-size: 100%;
  top: -15px;
  margin-right: -20px;
}
.process-icon.perform-inspection sup {
  text-shadow: -2px 2px 0 #2980b9;
  font-size: 95%;
  top: -20px;
  margin-left: -35px;
}
.process-icon.receive-results sup {
  text-shadow: -2px 2px 0 #2980b9;
  font-size: 85%;
  top: -25px;
  margin-left: -30px;
}
.process-icon.receive-results sub {
  font-size: 100%;
  top: 10px;
}
.inspection-basic {
  clear: both;
  height: 1250px;
  background-image: url('https://i.imgsafe.org/ab3152bece.jpg');
  background-repeat: no-repeat;
  background-position: center 150px;
  background-color: #fff;
  padding-top: 50px;
}
.inspection-basic h2 {
  padding-top: 0;
  margin: 0 0 50px 0 !important;
}
.inspection-basic .abox {
  border-color: #FFD429;
  margin-top: 60px;
}
.points {
  max-width: 900px;
  margin: 0 auto;
}
.inspection ul {
  width: 200px;
  height: 125px;
  background-color: #F4F4F4;
  border: 1px solid #FFD429;
  padding: 0;
  margin: 0;
}
.right-point {
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 0 75px;
  padding: 0;
  height: 25px;
  border-bottom: 2px solid #FFD429;
  border-left: 2px solid #FFD429;
}
.right-point:after {
  display: block;
  font-family: FontAwesome;
  content: '\f10c';
  float: right;
  color: #FFD429;
  margin-right: -13px;
  margin-top: 15px;
}
.left-point {
  display: block;
  width: 100%;
  float: right;
  margin: 0 75px 0 0;
  padding: 0;
  height: 25px;
  border-bottom: 2px solid #FFD429;
  border-right: 2px solid #FFD429;
}
.left-point:before {
  display: block;
  float: left;
  font-family: FontAwesome;
  content: '\f10c';
  color: #FFD429;
  margin-left: -13px;
  margin-top: 15px;
}
.engine {
  float: left;
  clear: left;
  margin-top: 50px;
  width: 41%;
  clear: left;
}
.engine ul {
  float: left;
  clear: left;
  background-image: url('https://i.imgsafe.org/f9da0acb7d.jpg');
  background-size: cover;
}
.engine ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'ENGINE';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.chassis {
  float: right;
  clear: right;
  margin-top: 0px;
  width: 25.2%;
}
.chassis ul {
  float: right;
  clear: right;
  background-image: url('https://i.imgsafe.org/f9d9c1c563.jpg');
  background-size: cover;
}
.chassis ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'CHASSIS';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.functional {
  float: left;
  clear: left;
  margin-top: 35px;
  width: 32.5%;
  clear: left;
}
.functional ul {
  float: left;
  clear: left;
  background-image: url('https://i.imgsafe.org/f9d9daba7c.jpg');
  background-size: cover;
}
.functional ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'CODES / FUNCTIONS';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.body {
  float: right;
  clear: right;
  margin-top: 200px;
  width: 40%;
}
.body ul {
  float: right;
  clear: right;
  background-image: url('https://i.imgsafe.org/f9d9aa0296.jpg');
  background-size: cover;
}
.body ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'BODY';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.powertrain {
  float: left;
  clear: left;
  margin-top: 190px;
  width: 21.5%;
  clear: left;
}
.powertrain ul {
  float: left;
  clear: left;
  background-image: url('https://i.imgsafe.org/f9db74cfb7.jpg');
  background-size: cover;
}
.powertrain ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'TIRES/BRAKES/SUSPENSION';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.electrical {
  float: right;
  clear: right;
  margin-top: 195px;
  width: 25%;
}
.electrical ul {
  float: right;
  clear: right;
  background-image: url('https://i.imgsafe.org/f9d9e8fb20.jpg');
  background-size: cover;
}
.electrical ul:before {
  font-family: "Chathura";
  font-size: 153%;
  line-height: .8;
  padding: 5px 15px 5px 15px;
  content: 'ELECTRICAL/LIGHTING';
  display: block;
  width: 200px;
  margin-top: -30px;
  margin-left: -1px;
  background-color: #FFD429;
  border: 1px solid #FFD429;
}
.check {
  list-style: none;
  font-family: "Gafata";
  line-height: 1;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
.check li {
  text-align: right;
  width: 95%;
  margin: 15px 0px 0px 0px;
  padding: 0;
  color: #FAFAFA;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
  font-size: 102%;
}
.check li:before {
  font-family: FontAwesome;
  content: '\f046';
  float: left;
  margin-left: 10px;
  margin-top: -3px;
  color: #27ae60;
  font-size: 150%;
  text-shadow: 1px 1px 0px #444, -1px -1px 0px #444, 1px -1px 0px #444, -1px 1px 0px #444;
}
.foot {
  clear: both;
  padding: 10px;
  margin: 0;
  background-color: #222;
  text-align: center;
  font-size: 110%;
  letter-spacing: 1px;
  color: #777;
}
.foot .common-float-33 {
  margin-bottom: 0;
}
.footer-links {
  padding: 15px;
  list-style: none;
  text-align: right;
}
.foot h4 {
  font-weight: bold;
  letter-spacing: 3px;
  color: #888;
  margin: 0;
  padding: 5px;
}
.footer-links li {
  padding: 3px 5px;
}
.foot a {
  color: #777;
  text-decoration: none;
}
.foot a:hover {
  color: #FFD429;
}
.footer-center {
  padding: 25px;
  color: #888;
}
.footer-center h2 {
  font-size: 350%;
  margin: 0;
}
.footer-center h3 {
  padding: 13px 0;
  margin: 0;
  letter-spacing: 2px;
}
.footer-email a {
  letter-spacing: normal;
  font-weight: normal;
}
.footer-notes {
  margin-top: 1em;
  text-align: left;
  padding: 15px;
}
.footer-notes span {
  display: block;
  line-height: 1.35;
  padding: 5px;
}
.copyright {
  text-align: center;
  padding: 10px;
}